<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vsp.networker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/network"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="vsp.networker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vsp.networker" />
            </intent-filter>
        </activity>
        <activity
            android:name="vsp.networker.SendPage"
            android:label="@string/title_activity_send_page" >
        </activity>
        <activity
            android:name="vsp.networker.ReceivedDataActivity"
            android:label="@string/title_activity_received_data" >
        </activity>
        <activity
            android:name="vsp.networker.ReceivedActivity"
            android:label="@string/title_activity_received" >
        </activity>
        <activity
            android:name="vsp.networker.ProfilepageActivity"
            android:parentActivityName="src.vsp.networker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="src.vsp.networker.MainActivity" />
        </activity>
        <activity
            android:name="vsp.networker.Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="vsp.networker.Contacts"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name="vsp.networker.SocialActivity"
            android:label="@string/title_activity_social"
            android:launchMode="singleInstance" >
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="callback"
                android:scheme="x-oauthflow-linkedin" />
        </activity>
        <activity
            android:name="vsp.networker.TwitterActivity"
            android:label="@string/title_activity_twitter" >
        </activity>
        <activity
            android:name="vsp.networker.LinkedInActivity"
            android:label="@string/title_activity_linked_in" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>